.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 40px 0;
}

.login-field {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.login-input {
    all: unset;
    padding: 10px;
    outline: none;
    border: 2px solid #6abd45;
    width: 100%;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.field-error {
    margin: 0 auto;
    color: #ff2c2c;
    background-color: #ffcdcd;
    border-radius: 3px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.button {
    margin-bottom: 40px;
}