.task-update {
    all: unset;
    padding: 18px 8px;
    outline: none;
    font: inherit;
    display: block;
    width: 85%;
}

.update-task-form {
    border: 2px solid #6abd45;
    display: flex;
}

