.form-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-input {
    all: unset;
    padding: 10px;
    outline: none;
    border: 2px solid #6abd45;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 40px 0;
}

.radio-group {
    display: flex;
    width: 35%;
    background-color: #2d3e24;
    border: 2px solid #6abd45;
}
.radio-option {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50%;
    height: 100%;
    padding: 8px;
    transition: 0.15s ease-in;
}
.radio-option input {
    appearance: none;
}
.radio-option:hover {
    background-color: #6abd45;
    transition: 0.15s ease-in;
}
.radio-option.active {
    background-color: #6abd45;
}

.input-wrapper {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.field-error {
    margin-top: 5px;
    padding: 2.5px;
    color: #ff2c2c;
    font-weight: 600;
    background-color: #ffecaf;
    border-radius: 3px;
    display: flex;
    justify-content: center;
}